@charset "UTF-8";
.computer-nav {
  display: block;
}

.mobile-nav {
  display: none;
}

.lenguage {
  background-color: none; /* Color de fondo */
  color: #111111; /* Color de texto */
  padding: 8px 12px; /* Espaciado interno */
  border: 1px solid #cccccc; /* Borde */
  border-radius: 4px; /* Bordes redondeados */
  font-size: 14px; /* Tamaño de fuente */
  width: 100px; /* Ancho del select */
}

.lenguage:focus {
  outline: none; /* Elimina el contorno al recibir el foco */
  box-shadow: 0 0 3px #bbbbbb; /* Sombra al recibir el foco */
}

.lenguage option {
  background-color: #f6f6f6; /* Color de fondo de las opciones */
  color: #000000; /* Color de texto de las opciones */
}

.nav {
  position: fixed;
  height: auto;
  background-color: transparent;
  top: 5vh;
  right: 2vw;
  width: 60%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.nav ul {
  width: 85%;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  margin: 0;
  gap: 4vw;
}
.nav ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav ul li a {
  padding: 15px;
  width: 100%;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 1000;
  color: #f6f6f6;
  border-radius: 25px;
  transition: 0.8s;
  display: flex;
  justify-content: space-around;
  gap: 15px;
}
.nav ul li a:active {
  color: #ffcb74;
}
.nav ul li .active {
  max-width: 100%;
  transform: scale(1.3);
  background-color: #ffcb74;
  color: #3f3f3f;
}

.spin {
  margin: 0 !important;
  height: 39px;
  width: 39px;
  animation: spin 8s infinite linear;
}

.logo {
  position: absolute;
  top: 7.5vh;
  left: 5vw;
  width: auto;
  height: auto;
  display: flex;
  gap: 25px;
}
.logo input {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  color: #ffcb74;
  margin: 0px 25px;
}

.scroll-activo {
  background-color: transparent;
}
.scroll-activo a {
  color: #3f3f3f !important;
}
.scroll-activo .active {
  background-color: #ffcb74 !important;
}

.presentation-name {
  font-size: 2em;
}

.name {
  font-size: 3em;
  color: #d83e3e;
}

.contactos {
  display: flex;
  flex-direction: "row";
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 50%;
  margin-top: 50px;
}
.contactos a {
  height: 50px;
  width: 50px;
  text-align: center;
}
.contactos a i {
  color: #3f3f3f;
  transform: scale(2);
  transition: 0.8s;
}
.contactos a i:hover {
  color: #ffcb74;
  transform: scale(1.85);
}

section {
  height: 100vh;
}

main .separated {
  display: flex;
  flex-direction: "row";
  align-items: center;
  justify-content: center;
  height: 95vh;
}
main .home {
  display: flex;
  flex-direction: column;
}
main .home-footer {
  display: flex;
  flex-direction: "row";
  align-items: center;
  justify-content: center;
  color: #f6f6f6;
  height: 5vh;
  width: 100%;
  background-color: #3f3f3f;
  background-image: url("https://www.turgutkaraca.com.tr/wp-content/uploads/2017/03/footer-bg.jpg");
}
main .home .information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: start;
  padding: 25px;
  margin-left: 3.5vw;
  width: 53%;
  height: 100%;
}
main .home .image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: end;
  align-items: center;
  width: 49%;
  height: 100%;
}
main .home .image img {
  border-radius: 25px;
  width: 60%;
  height: 60%;
}

.oculto {
  opacity: 0;
}

.about-me {
  background: radial-gradient(circle, white 0%, #f6f6f6 25%, #d7d7d7 100%);
}
.about-me .idiomas-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.about-me .idiomas-info i {
  font-size: 2.5vw;
  cursor: pointer;
}
.about-me .idiomas-info .idioma-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  gap: 2vw;
  width: 70%;
  margin-bottom: 2vh;
}
.about-me .idiomas-info .idioma-element img {
  font-size: 4vw;
  cursor: pointer;
}
.about-me .idiomas-info .idioma-element h2 {
  font-size: 2em;
}
.about-me .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: end;
  margin: 0;
  width: 100%;
  height: 80vh;
}
.about-me .container-footer {
  margin: 0;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: start;
}
.about-me .icons-skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  height: 69%;
  width: 100%;
}
.about-me .bigger-icon {
  font-size: 4vw;
  cursor: pointer;
}
.about-me img {
  cursor: pointer;
  width: 4vw;
  transition: all 0.9s ease;
}
.about-me img:hover {
  transform: scale(0.8);
}
.about-me .animate {
  animation: moverArribaAbajo 2s infinite;
}
@keyframes moverArribaAbajo {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10%);
  }
  75% {
    transform: translatey(-30%);
  }
  100% {
    transform: translateY(0);
  }
}
.about-me #html-icon {
  color: #d84924;
  transition: all 0.9s ease;
}
.about-me #html-icon:hover {
  transform: scale(0.8);
}
.about-me #css-icon {
  color: #214ce5;
  transition: all 0.9s ease;
}
.about-me #css-icon:hover {
  transform: scale(0.8);
}
.about-me #sass-icon {
  color: #c36291;
  transition: all 0.9s ease;
}
.about-me #sass-icon:hover {
  transform: scale(0.8);
}
.about-me #js-icon {
  color: #ead41c;
  transition: all 0.9s ease;
}
.about-me #js-icon:hover {
  transform: scale(0.8);
}
.about-me #php-icon {
  color: #828bb4;
  transition: all 0.9s ease;
}
.about-me #php-icon:hover {
  transform: scale(0.8);
}
.about-me #python-icon {
  color: #376c9b;
  transition: all 0.9s ease;
}
.about-me #python-icon:hover {
  transform: scale(0.8);
}
.about-me #java-icon {
  color: #0981bd;
  transition: all 0.9s ease;
}
.about-me #java-icon:hover {
  transform: scale(0.8);
}
.about-me #git-icon {
  color: #f14f34;
  transition: all 0.9s ease;
}
.about-me #git-icon:hover {
  transform: scale(0.8);
}
.about-me #laravel-icon {
  color: #ff291a;
  transition: all 0.9s ease;
}
.about-me #laravel-icon:hover {
  transform: scale(0.8);
}
.about-me #node-icon {
  color: #21ab58;
  transition: all 0.9s ease;
}
.about-me #node-icon:hover {
  transform: scale(0.8);
}
.about-me #bootstrap-icon {
  color: #7712ee;
  transition: all 0.9s ease;
}
.about-me #bootstrap-icon:hover {
  transform: scale(0.8);
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: start;
  background: radial-gradient(circle, white 0%, #f6f6f6 25%, #d7d7d7 100%);
}
.projects .top-gap {
  margin: 15vh 0px 5vh 0;
}
.projects .personal {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
  grid-template-rows: repeat(2, 1fr);
  gap: 1.2vw;
  width: 80%;
  height: 65%;
}
.projects .personal .project-item {
  text-align: center;
  border-radius: 25px;
  border: 2px solid #111111;
}
.projects .personal img {
  border-radius: 25px;
  max-width: 100%;
  max-height: 80%;
  min-height: 65%;
}

.mobile-nav {
  position: fixed;
}

.mobile-notice {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.main-header {
  font-size: 2.8vw;
  padding: 1.2vw;
  border: 3px solid black;
  -o-border-image: linear-gradient(60deg, #ffcb74 0%, transparent 35%, #ffcb74 40%, transparent 75%, #ffcb74 76%, transparent 100%);
     border-image: linear-gradient(60deg, #ffcb74 0%, transparent 35%, #ffcb74 40%, transparent 75%, #ffcb74 76%, transparent 100%);
  border-image-slice: 20%;
  background-color: transparent;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 700px) {
  .computer-content {
    display: none;
  }
  .mobile-content {
    display: block;
  }
  .nav {
    display: none;
  }
  .logo {
    top: 30px;
    left: 15px;
    transform: scale(0.8);
  }
  .home {
    background-image: linear-gradient(160deg, #d7d7d7 0%, #f6f6f6 15%, #f6f6f6 35%, #d7d7d7 70%, #111111 70%, #3f3f3f 85%, #3f3f3f 95%, #111111 100%), url("https://www.turgutkaraca.com.tr/wp-content/uploads/2017/03/footer-bg.jpg");
  }
}
@media (max-width: 1200px) and (min-width: 700px) {
  .computer-content {
    display: block;
  }
  .mobile-content {
    display: none;
  }
  ul {
    transform: scale(0.8);
  }
  #carrera {
    color: #ffcb74;
  }
  .home {
    background-image: linear-gradient(105deg, #d7d7d7 0%, #f6f6f6 15%, #f6f6f6 35%, #d7d7d7 40%, #111111 40%, #3f3f3f 75%, #3f3f3f 95%, #111111 100%), url("https://www.turgutkaraca.com.tr/wp-content/uploads/2017/03/footer-bg.jpg");
  }
}
@media (min-width: 1200px) {
  .computer-content {
    display: block;
  }
  .mobile-content {
    display: none;
  }
  .nav {
    width: 50%;
    height: 90px;
  }
  .home {
    background-image: linear-gradient(105deg, #d7d7d7 0%, #f6f6f6 15%, #f6f6f6 35%, #d7d7d7 40%, #111111 40%, #3f3f3f 75%, #3f3f3f 95%, #111111 100%), url("https://www.turgutkaraca.com.tr/wp-content/uploads/2017/03/footer-bg.jpg");
  }
}/*# sourceMappingURL=main.css.map */