.about-me {
  background: radial-gradient(
    circle,
    white 0%,
    $white-font-color 25%,
    $primary-color 100%
  );

  // h1 {
  //   margin: 10vh;
  // }

  .container {
    @include flexCenter(column);
    margin: 0;
    width: 100%;
    height: 80vh;
  }

  .container-footer {
    margin: 0;
    width: 100%;
    height: 20vh;
  }

  .icons-skills {
    @include flexCenter(row);
    justify-content: space-around;
    align-items: end;
    height: auto;
    width: 100%;
  }

  .bigger-icon {
    font-size: 4vw;
    cursor: pointer;
  }

  img {
    cursor: pointer;
    width: 4vw;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }

  .element {
    animation: rotateAnimation 10s linear infinite;
  }

  #html-icon {
    color: #d84924;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
  #css-icon {
    color: #214ce5;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
  #sass-icon {
    color: #c36291;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
  #js-icon {
    color: #ead41c;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
  #php-icon {
    color: #828bb4;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
  #python-icon {
    color: #376c9b;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
  #java-icon {
    color: #0981bd;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
  #git-icon {
    color: #f14f34;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
  #laravel-icon {
    color: #ff291a;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
  #node-icon {
    color: #21ab58;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
  #bootstrap-icon {
    color: #7712ee;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
}
