.about-me {
  background: radial-gradient(
    circle,
    white 0%,
    $white-font-color 25%,
    $primary-color 100%
  );

  .idiomas-info {
    @include flexCenter(column);
    //text-align: center;
    height: 100%;
    width: 100%;

    i {
      font-size: 2.5vw;
      cursor: pointer;
    }

    .idioma-element {
      @include flexCenter(row);
      justify-content: flex-start;
      gap: 2vw;
      width: 70%;
      margin-bottom: 2vh;

      img {
        font-size: 4vw;
        cursor: pointer;
      }

      h2 {
        font-size: $font-size-titles;
      }
    }
  }

  .container {
    @include flexCenter(column);
    justify-content: start;
    margin: 0;
    width: 100%;
    min-height: 80vh;
    height: auto;
  }

  .container-footer {
    margin: 0;
    width: 100%;
    height: 20vh;
    @include flexCenter(column);
    justify-content: start;
  }

  .icons-skills {
    @include flexCenter(row);
    justify-content: space-around;
    //align-items: end;
    padding: 0 9vw;
    height: auto;
    width: 100%;
  }

  .bigger-icon {
    font-size: 4vw;
    cursor: pointer;
  }

  img {
    cursor: pointer;
    width: 4vw;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }

  .animate {
    animation: moverArribaAbajo 2s infinite;
  }

  .link-about {
    color: $red-font-color;
    transition: all 0.5s ease;
    animation: moverLados 2s infinite;

    &:hover {
      color: $grey-font-color;
      transform: scale(0.5);
    }
  }

  @keyframes moverLados {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(10deg);
    }
    75% {
      transform: rotate(-10deg);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes moverArribaAbajo {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(10%);
    }
    75% {
      transform: translatey(-30%);
    }
    100% {
      transform: translateY(0);
    }
  }

  #html-icon {
    color: #d84924;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
  #css-icon {
    color: #214ce5;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
  #sass-icon {
    color: #c36291;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
  #js-icon {
    color: #ead41c;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
  #php-icon {
    color: #828bb4;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
  #python-icon {
    color: #376c9b;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
  #java-icon {
    color: #0981bd;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
  #git-icon {
    color: #f14f34;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
  #laravel-icon {
    color: #ff291a;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
  #node-icon {
    color: #21ab58;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
  #bootstrap-icon {
    color: #7712ee;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(0.8);
    }
  }
}
