.computer-nav {
  display: block;
}
.mobile-nav {
  display: none;
}

.lenguage {
  //appearance: none; /* Elimina los estilos nativos del navegador */
  background-color: none; /* Color de fondo */
  color: $black-font-color; /* Color de texto */
  padding: 8px 12px; /* Espaciado interno */
  border: 1px solid #cccccc; /* Borde */
  border-radius: 4px; /* Bordes redondeados */
  font-size: 1vw; /* Tamaño de fuente */
  width: 80%; /* Ancho del select */
  height: 5vh;
}

.lenguage:focus {
  outline: none; /* Elimina el contorno al recibir el foco */
  box-shadow: 0 0 3px #bbbbbb; /* Sombra al recibir el foco */
}

.lenguage option {
  background-color: $white-font-color; /* Color de fondo de las opciones */
  color: #000000; /* Color de texto de las opciones */
}

.nav {
  position: fixed;
  z-index: 2;
  min-height: 2vh;
  height: auto;
  background-color: transparent;
  top: 2vh;
  right: 2vw;
  width: auto;
  max-width: 60vw;
  border-radius: 25px;
  //overflow: hidden;

  ul {
    width: auto;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    //max-width: 90%;
    margin: 0;
    gap: 3vw;
    //flex-wrap: wrap;

    li {
      min-height: 15vh;
      min-width: 5vw;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: auto;

      a {
        padding: 15%;
        height: 5vh;
        min-width: 8vw;
        width: auto;
        text-decoration: none;
        font-size: $font-size-header;
        font-weight: 1000;
        color: $white-font-color;
        border-radius: 25px;
        transition: 0.8s;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        &:active {
          color: $golden-font-color;
        }
      }
    }
    .active {
      //max-width: 90%;
      transform: scale(1.1);
      background-color: $golden-font-color;
      color: $grey-font-color;
    }
  }
}

.spin {
  margin: 0 !important;
  font-size: 5vh;
  animation: spin 8s infinite linear;
}

.logo {
  position: absolute;
  top: 7.5vh;
  left: 5vw;
  display: flex;
  gap: 25px;
  input {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    color: $golden-font-color;
    margin: 0px 25px;
  }
}

.scroll-activo {
  background-color: transparent;
  a {
    color: $grey-font-color !important;
  }
  .active {
    background-color: $golden-font-color !important;
  }
}
