.nav {
  position: absolute;
  background-color: transparent;
  top: 10vh;
  left: 50vw;

  ul {
    display: flex;
    flex-direction: row;
    gap: 5vw;

    li {
      list-style: none;
      a {
        text-decoration: none;
        font-size: $font-size-header;
        font-weight: 1000;
        color: $white-font-color;
        border-radius: 50%;

        &:active {
          color: $white-font-color-hover;
        }
      }
    }
  }
}
