.computer-nav {
  display: block;
}
.mobile-nav {
  display: none;
}

.logo {
  width: 150px;
  height: 150px;
}

.nav {
  position: absolute;
  background-color: transparent;
  top: 10vh;
  left: 45vw;
  width: 50vw;

  ul {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50vw;
    gap: 4vw;

    li {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      a {
        padding: 15px;
        text-decoration: none;
        font-size: $font-size-header;
        font-weight: 1000;
        color: $white-font-color;
        border-radius: 25px;
        transition: 0.8s;

        &:active {
          color: $white-font-color-hover;
        }

        &:hover {
          transform: scale(1.2);
        }
      }

      .active {
        background-color: $white-font-color;
        color: $black-font-color;
      }
    }
  }
}

.logo {
  position: absolute;
  top: 10vh;
  left: 5vw;
  width: auto;
  height: auto;

  display: flex;

  h1 {
    margin: 0px 15px;
  }
}
