.contact-me {
  .computer-content {
    @include flexCenter(column);
    justify-content: start;
    flex-wrap: wrap;
    min-height: 100vh;
    height: auto;
    background: radial-gradient(
      circle,
      white 0%,
      $white-font-color 25%,
      $primary-color 100%
    );

    #my-form {
      width: 60vw;
      margin: 0 auto;
      padding: 20px;
      background-color: rgba($grey-font-color, 0.1);
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;

      label {
        display: block;
        margin-bottom: 5px;
      }

      input[type="email"] {
        width: 70%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid $grey-font-color;
        border-radius: 3px;
      }

      textarea {
        width: 70%;
        height: 20vh;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid $grey-font-color;
        border-radius: 3px;
        overflow-y: auto;
        resize: vertical;
      }

      button {
        background-color: $golden-font-color;
        color: $black-font-color;
        border: none;
        padding: 10px 20px;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $red-font-color;
        }
      }
    }

    #my-form-status {
      text-align: center;
      margin-top: 10px;
    }
  }
}
