.mobile-content {
  @include flexCenter(column);

  .menu-nav-mobile {
    position: fixed;
    top: 30px;
    right: 15px;
    text-align: end;

    button {
      background-color: transparent;
      border: none;
      margin-bottom: 2vh;
      text-align: center;
    }

    .nav-icon {
      font-size: 5vh;
    }

    .menu-nav {
      text-align: start;
      li {
        margin-bottom: 1em;
        list-style: none;
      }
      a {
        text-decoration: none;
        font-size: 2vh;
        color: $black-font-color;
      }
    }
  }
}

.list {
  display: none;
}

.show-mobile {
  display: block !important;
  //animation: forwards 5s ease;
  animation: fadeInDown 1s ease;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-header-m {
  margin-bottom: 1em;
  font-size: 4vh;
  padding: 1.2vw;
  border: 3px solid black;
  border-image: linear-gradient(
    60deg,
    $golden-font-color 0%,
    transparent 35%,
    $golden-font-color 40%,
    transparent 75%,
    $golden-font-color 76%,
    transparent 100%
  );
  border-image-slice: 20%;
  background-color: transparent;
  display: inline-block;
  //animation: spin 8s infinite;
}
.mobile-notice {
  height: 100vh;
  @include flexCenter(row);
  justify-content: center;
  align-items: center;
}
