.mobile-content {
  @include flexCenter(column);

  .menu-nav-mobile {
    position: fixed;
    top: 30px;
    right: 15px;
    text-align: end;
    z-index: 10;

    button {
      background-color: transparent;
      border: none;
      margin-bottom: 2vh;
      text-align: center;
    }

    .nav-icon {
      font-size: 5vh;
    }

    .menu-nav {
      text-align: start;
      background-color: $black-font-color;
      border-radius: 25px;
      padding: 50px;
      li {
        margin-bottom: 1.5em;
        list-style: none;
      }
      a {
        text-decoration: none;
        font-size: 3vh;
        color: $white-font-color;
        box-shadow: 10px 15px 15px rgb(0, 0, 0, 0.3);

        &:active {
          transform: scale(1.1);
          transform: translateX(-25px);
        }
      }
    }
  }

  .slider {
    width: 100%;

    &-inner {
      img {
        width: 150px;
        height: 150px;
      }
    }
  }
}

.list {
  display: none;
}

.show-mobile {
  display: block !important;
  //animation: forwards 5s ease;
  animation: fadeInDown 1s ease;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-header-m {
  margin-bottom: 1em;
  font-size: 4vh;
  padding: 1.2vw;
  border: 3px solid black;
  border-image: linear-gradient(
    60deg,
    $golden-font-color 0%,
    transparent 35%,
    $golden-font-color 40%,
    transparent 75%,
    $golden-font-color 76%,
    transparent 100%
  );
  border-image-slice: 20%;
  background-color: transparent;
  display: inline-block;
  //animation: spin 8s infinite;
}
.mobile-notice {
  height: 100vh;
  @include flexCenter(row);
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 200px;
  margin: 0;
  margin-top: 45px;
  img {
    height: 150px;
    width: 150px;
  }
}

.swiper-slide {
  width: auto;
  text-align: center;
}

.experiencia_mobile {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  .center-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.separador-pintado {
  background: linear-gradient(
    to right,
    transparent,
    #ffd700,
    transparent
  ); /* Color dorado */
  height: 3px; /* Grosor de la línea */
  width: 50%; /* Ancho de la línea (ajusta según tus necesidades) */
  margin: 20px auto; /* Centra horizontalmente, ajusta el margen según necesites */
  border-radius: 10px; /* Borde redondeado para curvas */
}
