@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

.presentation-name {
  font-size: $font-size-titles;
}

.name {
  font-size: $font-size-name;
  color: $black-font-color;
}

.contactos {
  @include flexCenter("row");
  justify-content: space-around;
  width: 50%;
  margin-top: 50px;
  a {
    height: 50px;
    width: 50px;
    text-align: center;
    i {
      color: $gray-font-color;
      transform: scale(2);
      transition: 0.8s;
      &:hover {
        color: $golden-font-color;
        transform: scale(1.85);
      }
    }
  }
}

section {
  height: 100vh;
}

main {
  .separated {
    @include flexCenter("row");
    height: 90vh;
  }
  .home {
    display: flex;
    flex-direction: column;
    //@include flexCenter("column");
    //border: 2px solid black;

    &-footer {
      @include flexCenter("row");
      color: $white-font-color;
      height: 10vh;
      width: 100%;
      background-color: $gray-font-color;
      background-image: url("https://www.turgutkaraca.com.tr/wp-content/uploads/2017/03/footer-bg.jpg");
    }

    background-image: linear-gradient(
        105deg,
        $primary-color 0%,
        $primary-color 40%,
        $black-font-color 40%,
        $black-font-color 100%
      ),
      url("https://www.turgutkaraca.com.tr/wp-content/uploads/2017/03/footer-bg.jpg");

    .information {
      @include flexCenter(column);
      align-items: start;
      padding: 25px;
      width: 53%;
      height: 100%;
    }
    .image {
      @include flexCenter(column);

      justify-content: end;
      align-items: end;
      width: 49%;
      height: 100%;
      img {
        border-radius: 25px;
        width: 60%;
        height: 60%;
      }
    }
  }
}

#home {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.oculto {
  opacity: 0;
}
