.presentation-name {
  font-size: $font-size-titles;
}

.name {
  font-size: $font-size-name;
  color: $golden-font-color;
}

.name-1 {
  color: $black-font-color;
}

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

main {
  .home {
    @include flexCenter("row");
    border: 2px solid black;

    background: linear-gradient(
      105deg,
      $primary-color 0%,
      $primary-color 40%,
      $black-font-color 40%,
      $black-font-color 100%
    );
    height: 100vh;

    .information {
      @include flexCenter(column);
      align-items: end;
      width: 50%;
      height: 100%;
    }
    .image {
      @include flexCenter(column);
      // justify-content: end;
      // align-items: end;
      width: 50%;
      height: 100%;
      img {
        border-radius: 25px;
        width: 60%;
        height: 60%;
      }
    }
  }
}
