.projects {
  @include flexCenter(column);
  justify-content: start;
  background: radial-gradient(
    circle,
    white 0%,
    $white-font-color 25%,
    $primary-color 100%
  );

  .top-gap {
    margin-top: 15vh;
  }
}
