.projects {
  .computer-content {
    h2 {
      font-size: 3vh;
    }

    @include flexCenter(column);
    justify-content: start;
    flex-wrap: wrap;
    min-height: 100vh;
    height: auto;
    background: radial-gradient(
      circle,
      white 0%,
      $white-font-color 25%,
      $primary-color 100%
    );

    .personal {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-content: center;
      width: 80%;

      height: auto;
      margin: 0;

      .project-item {
        text-align: center;
        padding: 15px;
        border-radius: 25px;
        width: 100%;
        height: 100%;
        //border: 2px solid $black-font-color;
      }

      .project-1 {
        width: 100%;
        height: 80%;
        //padding: 25px;
      }
      .project-2 {
        width: 100%;
        height: 80%;
      }

      img {
        border-radius: 25px;
        width: 100%;
        height: 100%;
      }
    }
  }
}
