.projects {
  @include flexCenter(column);
  justify-content: start;
  background: radial-gradient(
    circle,
    white 0%,
    $white-font-color 25%,
    $primary-color 100%
  );

  .top-gap {
    margin-top: 15vh;
  }

  .personal {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    grid-template-rows: repeat(2, 1fr);
    gap: 1.2vw;
    width: 100%;
    height: 100%;

    .project-item {
      text-align: center;
    }
  }
}
