$primary-color: #d7d7d7;

$white-font-color: white;
$white-font-color-hover: rgb(160, 160, 160);
$black-font-color: black;

$font-size-titles: 40px;
$font-size-subtitles: 30px;
$font-size-header: 18px;
$font-size-text: 12px;
