$primary-color: #d7d7d7;

$black-font-color: #111111;
$gray-font-color: #2f2f2f;
//$white-font-color-hover: rgb(160, 160, 160);
$white-font-color: #f6f6f6;
$golden-font-color: #ffcb74;

$font-size-name: 3em;
$font-size-titles: 2em;
$font-size-subtitles: 1.5em;
$font-size-header: 1.2em;
$font-size-text: 1em;
