$primary-color: #d7d7d7;

$white-font-color: white;
$white-font-color-hover: rgb(160, 160, 160);
$black-font-color: black;

$font-size-titles: 2em;
$font-size-subtitles: 1.5em;
$font-size-header: 1.2em;
$font-size-text: 1em;
