@import "variable", "header", "principal", "aboutMe";

* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
