* {
  margin: 0;
}

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

main {
  .home {
    .container {
    }
    @include flexCenter(column);
    img {
      border-radius: 50%;
      width: 15vw;
    }
  }
}
