@import "variable", "header";

* {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

main {
  background-color: $primary-color;
  .home {
    @include flexCenter("row");

    background: linear-gradient(
      105deg,
      $primary-color 0%,
      $primary-color 40%,
      $black-font-color 40%,
      $black-font-color 100%
    );
    height: 95vh;

    .information {
      @include flexCenter(column);
      width: 50%;
    }
    .image {
      @include flexCenter(column);
      width: 50%;
      img {
        border-radius: 50%;
        width: 15vw;
      }
    }
  }
  .skills {
    height: 95vh;
  }
}
