@import "variable", "header";

* {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

main {
  background-color: $primary-color;
  .home {
    height: 95vh;
    @include flexCenter(column);
    img {
      border-radius: 50%;
      width: 15vw;
    }
  }
  .skills {
    height: 95vh;
  }
}
