@import "variable", "header", "principal", "aboutMe", "mobileContent";

* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  .computer-content {
    display: none;
  }
  .mobile-content {
    display: block;
  }
  .nav {
    display: none;
  }
  .logo {
    top: 30px;
    left: 15px;
    transform: scale(0.8);
  }
  .home {
    background-image: linear-gradient(
        160deg,
        $primary-color 0%,
        $white-font-color 15%,
        $white-font-color 35%,
        $primary-color 70%,
        $black-font-color 70%,
        $gray-font-color 85%,
        $gray-font-color 95%,
        $black-font-color 100%
      ),
      url("https://www.turgutkaraca.com.tr/wp-content/uploads/2017/03/footer-bg.jpg");
  }
}

@media (max-width: 1200px) and (min-width: 700px) {
  .computer-content {
    display: block;
  }
  .mobile-content {
    display: none;
  }
  ul {
    transform: scale(0.8);
  }
  #carrera {
    color: $golden-font-color;
  }
  .home {
    background-image: linear-gradient(
        105deg,
        $primary-color 0%,
        $white-font-color 15%,
        $white-font-color 35%,
        $primary-color 40%,
        $black-font-color 40%,
        $gray-font-color 75%,
        $gray-font-color 95%,
        $black-font-color 100%
      ),
      url("https://www.turgutkaraca.com.tr/wp-content/uploads/2017/03/footer-bg.jpg");
  }
}

@media (min-width: 1200px) {
  .computer-content {
    display: block;
  }
  .mobile-content {
    display: none;
  }
  .nav {
    width: 50%;
    height: 90px;
    overflow: none;
  }
  .home {
    background-image: linear-gradient(
        105deg,
        $primary-color 0%,
        $white-font-color 15%,
        $white-font-color 35%,
        $primary-color 40%,
        $black-font-color 40%,
        $gray-font-color 75%,
        $gray-font-color 95%,
        $black-font-color 100%
      ),
      url("https://www.turgutkaraca.com.tr/wp-content/uploads/2017/03/footer-bg.jpg");
  }
}
