@import "variable", "header", "principal", "aboutMe", "projects", "mensaje",
  "footer", "mobileContent";

* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.top-gap {
  margin: 15vh 0 2vh 0;
}

.main-header {
  font-size: 2.8vw;
  padding: 1.2vw;
  border: 3px solid black;
  border-image: linear-gradient(
    60deg,
    $golden-font-color 0%,
    transparent 35%,
    $golden-font-color 40%,
    transparent 75%,
    $golden-font-color 76%,
    transparent 100%
  );
  border-image-slice: 20%;
  background-color: transparent;
  display: inline-block;
  //animation: spin 8s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 721px) {
  .computer-content {
    display: none !important;
  }
  .mobile-content {
    display: flex;
  }
  .nav {
    display: none;
  }
  .logo {
    top: 30px;
    left: 15px;
    transform: scale(0.8);
  }
  .home {
    background-image: linear-gradient(
        160deg,
        $primary-color 0%,
        $white-font-color 15%,
        $white-font-color 35%,
        $primary-color 70%,
        $black-font-color 70%,
        $grey-font-color 85%,
        $grey-font-color 95%,
        $black-font-color 100%
      ),
      url("https://www.turgutkaraca.com.tr/wp-content/uploads/2017/03/footer-bg.jpg");
  }
}

@media (max-width: 1200px) and (min-width: 721px) {
  .nav {
    font-size: auto;
    left: 42vw;
    min-width: 60%;
    width: auto;
    ul {
      min-width: 100%;
      width: auto;
      //flex-wrap: wrap;
    }
    li {
      min-width: 80%;
      width: auto;
    }
  }
  .computer-content {
    display: block;
  }
  .mobile-content {
    display: none !important;
  }
  ul {
    transform: scale(0.8);
  }
  #carrera {
    color: $golden-font-color;
  }
  .home {
    background-image: linear-gradient(
        105deg,
        $primary-color 0%,
        $white-font-color 15%,
        $white-font-color 35%,
        $primary-color 40%,
        $black-font-color 40%,
        $grey-font-color 75%,
        $grey-font-color 95%,
        $black-font-color 100%
      ),
      url("https://www.turgutkaraca.com.tr/wp-content/uploads/2017/03/footer-bg.jpg");
  }
}

@media (min-width: 1200px) {
  .computer-content {
    display: block;
  }
  .mobile-content {
    display: none !important;
  }
  .nav {
    max-width: 50%;
    //width: 50%;
    //height: 90px;
  }
  .home {
    background-image: linear-gradient(
        105deg,
        $primary-color 0%,
        $white-font-color 15%,
        $white-font-color 35%,
        $primary-color 40%,
        $black-font-color 40%,
        $grey-font-color 75%,
        $grey-font-color 95%,
        $black-font-color 100%
      ),
      url("https://www.turgutkaraca.com.tr/wp-content/uploads/2017/03/footer-bg.jpg");
  }
}
